body {
  background-color: #edf5fc
}

.App {
  text-align: left;
  width: 80px;
  height: 90vh;
  margin: auto;
  margin-top: 30px;
  background-color: white;
}

.timer {
  background-color: gray;
  display: block;
  margin: 20px auto;
}

.delete-button {
  /* background-color: black; */
  display: inline-block;
}

.react-countdown-clock {
  margin-top: 20px;
  display: inline-block;
margin-left: -125px;
}

.note {
  background-color: blue;
  height: 30%;
  width: 90%;
  text-align: center;
  margin: auto;
  margin-top: 0;
  max-width: 550px;
}

.note textarea {
  height: 100%;
  width:100%;
}

.note input {
  display: block;
  margin: auto;
  background-color: white;
  width: 50%;
}

.start-button, .stop-button {
  margin: -10px auto 5px auto;
  display: block;
}

.timer button {
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style: none;
  list-style-position: inside;
}

.task-div{
  height:35%;
  /* background-color: purple; */
  max-width: 400px;
  margin: auto;
  max-height: 400px;
  width: 100%;
}

.task-list {
  height: 80%;
  text-overflow: clip;
  overflow: scroll;
  background-color: #caedd388;
  width: 80%;
  margin: auto;
  padding: 5px;
}

.hidden {
  display: none;
}

.calendar{
  width: 300px;
  margin: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (min-width: 768px){

  .App {
    text-align: left;
    width: 80vw;
    height: 90vh;
    margin: auto;
    margin-top: 20px;
    background-color: white;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-countdown-clock {
display: block;
    margin: 40px auto;
    margin-top: 50px;
  }

  .note {
    background-color: blue;
    height: 30%;
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    max-width: 550px;
  }